@charset "iso-8859-1";
.hdr_app {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: bold;
	background-color: #CCCCBC;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #007B75;
	color: #000000;
	border-right-width: 1pt;
	border-left-width: 1pt;
	border-right-style: none;
	border-left-style: none;
	border-right-color: #a8a88c;
	border-left-color: #a8a88c;
	text-transform: none;
}
.tbl_ltTaupe {
	background-color: #ECECE2;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #A8a88C;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-color: #A8A88C;
	border-left-color: #A8A88C;
}
.hdr_blue_help {
	background-color: #B8C9E2;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	color: #000000;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	border-top: 4px none #003966;
	border-right: 4px none #003966;
	border-bottom: 1px solid #ecece2;
	border-left: 4px none #003966;
}
.labelRequired {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	text-align: left;
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 5px;
	white-space: nowrap;
	
}
.btn {
	text-align: right;
	padding-right: 0px;
	padding-left: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.txt_70 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
}
a:link  {
    color: #005091;
	text-decoration:none
	}
a:visited  {
    color:#5E5EAE;
	text-decoration:none
	}
a:hover {
	text-decoration:underline
	}
.txt_70_pad5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.hdr_grey {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: bold;
	background-color: #CCCCBC;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003966;
	color: #000000;
	border-right-style: none;
	border-left-style: none;
	border-right-color: #CCCCBC;
	border-left-color: #CCCCBC;
}
.labelOptional_ind {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 10px;
	text-align: left;
	padding-top: 2px;
	padding-right: 6px;
	padding-bottom: 2px;
	white-space: nowrap;
	font-weight: normal;
	
}
.hdr_grey_help {
	background-color: #CCCCBC;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003966;
	color: #000000;
	border-right-style: none;
	border-left-style: none;
	border-right-color: #CCCCBC;
	border-left-color: #CCCCBC;
	text-align: right;
}
.textRight {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 6px;
	text-align: right;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	
}
.textRightBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 6px;
	text-align: right;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	font-weight: bold;
}
.textBoldBdrb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 10px;
	text-align: left;
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 4px;
	white-space: nowrap;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a8a88c;
}
.textRightBoldBdrb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	text-align: right;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a8a88c;
	padding-left: 3px;
}
.textRightBdrb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 3px;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a8a88c;
	padding-right: 10px;
	vertical-align: top;
}
.subhd_grey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: bold;
	background-color: #CCCCBC;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: #000000;
	border: 4px none #003966;
}
.textRightBoldBdrb_noPad {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	text-align: right;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a8a88c;
	padding-left: 3px;
}
.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	background-color: #CCCCBC;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.textCntrBdrb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 3px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a8a88c;
	padding-right: 10px;
	vertical-align: top;
}
.textCntrBoldBdrb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 3px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a8a88c;
	padding-right: 10px;
	font-weight: bold;
	vertical-align: top;
}
.textBoldBdrb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 3px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a8a88c;
	padding-right: 10px;
	font-weight: bold;
	vertical-align: top;
}
.textBdrb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 3px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a8a88c;
	padding-right: 10px;
	vertical-align: top;
}
.bnr_blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: bold;
	background-color: #B8C9E2;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-top-color: #A8A88C;
	border-right-color: #A8A88C;
	border-bottom-color: #A8A88C;
	border-left-color: #A8A88C;
}
.tbl_white {

	background-color: #FCFBF5;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #A8a88C;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-color: #A8A88C;
	border-left-color: #A8A88C;
}
.bnr_gold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: bold;
	background-color: #F7CA68;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #A8A88C;
}
.tab_ecece2 {
	font-weight: normal;
	background-color: #ECECE2;
	text-align: center;
	white-space: nowrap;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #A8A88C;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
}
.tab_fcfbf5 {
	background-color: #fcfbf5;
	text-align: center;
	white-space: nowrap;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	border-top-width: 2px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: none;
	border-top-color: #C2C2AF;
	border-bottom-color: #CCCCBC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
}
.bkgd_ccccbc {
	background-color: #CCCCBC;
}
.btn_close {

	text-align: right;
	padding-right: 15px;
	padding-left: 25px;
}
.txt_70_right_pad5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
}
.col_head {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	text-align: right;
	padding: 3px;
	border: none #A8A88C;
}
.radio_buttons {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	white-space: nowrap;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
}
.btn_left {

	text-align: left;
	padding-right: 50px;
}
.labelRequired_ind {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	text-align: left;
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 5px;
	white-space: nowrap;
	padding-left: 10px;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
}
.col_head_cntr {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	text-align: center;
	padding: 3px;
	border: none #A8A88C;
}
.bnr_blue_colhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	background-color: #B8C9E2;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-top-color: #A8A88C;
	border-right-color: #A8A88C;
	border-bottom-color: #A8A88C;
	border-left-color: #A8A88C;
	padding-left: 3px;
}
.textBold_ind_top_Bdrb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 10px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a8a88c;
	padding-right: 10px;
	font-weight: bold;
	vertical-align: top;
}
.labelOptional {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	text-align: left;
	padding-top: 2px;
	padding-right: 6px;
	padding-bottom: 2px;
	white-space: nowrap;
}
.textBdrbl {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 3px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a8a88c;
	padding-right: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #a8a88c;
	vertical-align: top;
}
.bnr_blue_colhead_ctr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	background-color: #B8C9E2;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-top-color: #A8A88C;
	border-right-color: #A8A88C;
	border-bottom-color: #A8A88C;
	border-left-color: #A8A88C;
	text-align: center;
}
.section_indent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	white-space: nowrap;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 15px;
}
.alpha_index {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	padding-right: 7px;
	padding-left: 7px;
}
.alpha_large {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	color: #666666;
	padding-top: 5px;
	padding-bottom: 5px;
}
.bnr_grey {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: bold;
	background-color: #CCCCBC;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: none;
	border-top-color: #A8A88C;
	border-right-color: #A8A88C;
	border-bottom-color: #A8A88C;
	border-left-color: #A8A88C;
}
.subhd_white {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	background-color: #FCFBF5;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: #000000;
	border: 4px none #003966;
}
.icons_modify {

	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}
.section1 {
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	white-space: nowrap;
}
.border {
	border: 1pt solid #A8A88C;
}
.t75b_ind {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: bold;
	padding-left: 10px;
}
.t70_ind {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	text-align: left;
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 5px;
	white-space: normal;
	padding-left: 10px;
}
.t3r10b3 {
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
}
.hdr_app_right {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: bold;
	background-color: #CCCCBC;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #007B75;
	color: #000000;
	border-right-width: 1pt;
	border-left-width: 1pt;
	border-right-style: none;
	border-left-style: none;
	border-right-color: #a8a88c;
	border-left-color: #a8a88c;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: right;
}.label_ctr {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 10px;
	text-align: center;
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 5px;
	white-space: nowrap;
	font-weight: normal;
}
.label_ctr_b {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 10px;
	text-align: center;
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 5px;
	white-space: nowrap;
	font-weight: bold;
}
.blue_expand_bar {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	background-color: #B8C9E2;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-top-color: #ecece2;
	border-right-color: #ecece2;
	border-bottom-color: #ecece2;
	border-left-color: #ecece2;
	padding-left: 3px;
}
.text_IndBdrb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 10px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a8a88c;
	padding-right: 10px;
	vertical-align: top;
	white-space: nowrap;
}
.subhd_grey_70 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	background-color: #CCCCBC;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	color: #000000;
	border: 4px none #003966;
}
.mpim_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	background-color: #BED5E8;
	padding-left: 15px;
	white-space: nowrap;
	color: #534e40;
	vertical-align: text-bottom;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.mpim_date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	background-color: #BED5E8;
	text-align: right;
	white-space: nowrap;
	padding-right: 15px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #007B75;
}
.mpim_brdr {
	background-color: #BED5E8;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #007B75;
}
.mpim_footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	background-color: #BED5E8;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
}
.bnr_blue_colhead_ind {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	background-color: #B8C9E2;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-top-color: #A8A88C;
	border-right-color: #A8A88C;
	border-bottom-color: #A8A88C;
	border-left-color: #A8A88C;
	padding-left: 10px;
}
.pageNumbers {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 3px;
	text-align: center;
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	white-space: nowrap;
	font-weight: normal;
}
.hdr_expander {
	font-weight: bold;
	background-color: #B8C9E2;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ecece2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
}
.select {
	font-size:10px;
}
.labelRequired_blue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	text-align: center;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	white-space: nowrap;
	color: #000000;
	background-color: #C1D6FF;
	border-top-width: 1px;
	border-right-style: solid;
	border-top-color: #a8a88c;
	border-right-width: 1px;
	border-right-color: #a8a88c;
	padding-left: 1px;
}
.labelRequired_grey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	text-align: center;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	white-space: nowrap;
	color: #000000;
	background-color: #ecece2;
	border-top-width: 1px;
	border-right-style: solid;
	border-top-color: #a8a88c;
	border-right-width: 1px;
	border-right-color: #a8a88c;
	padding-left: 1px;
}
.labelRequired_centered {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
	text-align: center;
	padding-right: 1px;
	white-space: nowrap;
	background-color: #ecece2;
	padding-left: 1px;
}
.labelRequired_gold {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	text-align: center;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	white-space: nowrap;
	color: #000000;
	background-color: #FFE493;
	border-top-width: 1px;
	border-right-style: solid;
	border-top-color: #a8a88c;
	border-right-width: 1px;
	border-right-color: #a8a88c;
	padding-left: 1px;
}
.labelRequired_centered_bdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
	text-align: center;
	padding-right: 1px;
	white-space: nowrap;
	background-color: #ecece2;
	padding-left: 1px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #a8a88c;
}
.confirmation {
	background-color: #FFDA8C;
	font-size: 75%;
	font-weight: bold;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.portlet {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding-left: 10px;
	text-align: left;
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 5px;
	white-space: nowrap;
	font-weight: normal;
}
.notile {
	background-repeat: no-repeat;
}
